@import "tailwindcss";
/* @plugin "daisyui"; */

.subTxt {
  color: #687693;
}
.goldTxt {
  color: #c9b38c;
}
.bgBtn {
  background-color: #c9b38c;
}
.bgPrimary {
  background-color: #262b3e;
}
.bgSecondary {
  background-color: #1c202e;
}
.bgLayout {
  background-color: #eeeeee;

.bgBtnHover{
    background-color: #b69d75;
}


