@import "tailwindcss";
@plugin "daisyui";


.bgBtn{
    background-color: #C9B38C;
}
.bgBtnHover{
    background-color: #b69d75;
}
.subTxt{
    background-color: #687693;
}
.bgPrimary{
    background-color: #262B3E;
}
.bgSecondary{
    background-color: #1C202E;
}
.bgLayout{
background-color: #EEEEEE;
}

