@import "tailwindcss";
/* @plugin "daisyui"; */

h1,
h2,
h3,
p {
  @apply font-sans;
}
.txtPrimary{
    background-color: #C9B38C;
}
.subTxt{
    background-color: #687693;
}
.bgPrimary{
    background-color: #262B3E;
}
.bgSecondary{
    background-color: #1C202E;
}
.bgLayout{
background-color: #EEEEEE;
}